:root {
  
--White: #D6D6D6;
--Grey: hsl(0, 0%, 20%);
--Dark-Grey: hsl(0, 0%, 12%);
--Off-Black: hsl(0, 0%, 8%);
}

* {
  box-sizing: border-box;
}

main {
max-width: 1200px;
display: flex;

margin: 10px;
gap:20px;
}

body {
  background-color: hsl(0, 0%, 8%);;
  display:flex;
  justify-content: center;
  color:  var(--White);
   font-family: "Inter";
   font-size:15px;
}

h1,h2 {
  color:white;
}
.side-content {
  background-color:var(--Dark-Grey);
  width:30%;
  padding: 20px;
  border : 1px solid var(--Grey);
  position:sticky;
  top:0;
  height: fit-content;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-content {
  background-color: var(--Dark-Grey);
  padding: 20px;
  width:100%;
  border-radius: 30px;

  border : 1px solid var(--Grey);
}

button {
  background-color:var(--Dark-Grey);
  border: 0;
 cursor: pointer;
}

.download-cv {
  gap:10px;
  margin:10px;
  display: flex;
  align-items: center;
}
.avatar-content {
  width: 150px;
  height: 150px;

  margin: 20px;
}

.avatar-content img {
width: 100%;
height: 100%;
border-radius: 50%;
border: 1px solid var(--Grey);
box-shadow: rgba(0, 0, 0, 0.23) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.contact-data-title {
font-size: 10px;
text-transform: uppercase;
color:gray;
font-weight: 600;
}

.my-full-name {
  padding:15px;
  border-bottom: 1px solid var(--Grey);
}



.skill {
padding: 20px;
}
.projects-section, .skills-section {
  display: grid;
grid-template-columns: 1fr 1fr ;
grid-template-rows: 1fr 1fr;
gap: 10px;

}

.grid-item,.skill, .pop-up {
  border: 1px solid var(--Grey);
  border-radius: 10px;

  box-shadow: rgba(0, 0, 0, 0.23) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

}

.grid-item {
  padding: 10px;
  height:300px;



}
h3 {
  margin-top:50px;
}


.contact-data {
  display: flex;
align-items: center;
gap:20px;
margin:10px;
}


.icon-container {
  border : 1px solid var(--Grey);
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.23) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border-radius:8px;
}


.project-image {
  width:100%;
  height: 100%;
  border-radius: 10px;
}

.social-links {
  cursor: pointer;
}


.pop-up , .project-description {
  padding: 10px;
  margin: 10px;
}



@media (max-width: 900px) {


  main{
    flex-direction: column;
    align-items:center;
    width: 100%;

  }


  .side-content {

    width: 100%;
    padding: 20px;

    position: relative;



  }

  .projects-section {
    display: grid;
  grid-template-columns: auto  ;
  gap: 10px;
  
  }
}